<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wb.tracun.markup">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <application>
        <meta-data
              android:name="com.google.android.gms.ads.APPLICATION_ID"
              android:value="ca-app-pub-0943131909791545~3866398254"/>
              <!-- android:value="ca-app-pub-3940256099942544~3347511713"/> -->
    </application>
</manifest>
